:root{
    --clr-primary-1: #e5f0ff;
    --clr-primary-2: #cce0ff;
    --clr-primary-3: #99c2ff;
    --clr-primary-4: #66a3ff;
    --clr-primary-5: #3385ff;
    --clr-primary-6: #0066ff;
    --clr-primary-7: #0052cc;
    --clr-primary-8: #003d99;
    --clr-primary-9: #002966;
    --clr-primary-10: #001433;
    --clr-primary-11: #000e24;

    --clr-grey-1: hsla(216, 100%, 95%);
    --clr-grey-2: hsla(216, 100%, 90%);
    --clr-grey-3: hsla(216, 100%, 80%);
    --clr-grey-4: hsla(216, 100%, 70%);
    --clr-grey-5: hsla(216, 100%, 60%); 
    --clr-grey-6: hsla(216, 100%, 50%);
    --clr-grey-7: hsla(216, 100%, 40%);
    --clr-grey-8: hsla(216, 100%, 30%);
    --clr-grey-9: hsla(216, 100%, 20%);
    --clr-grey-10: hsla(216, 100%, 10%);
    --clr-grey-11: hsla(216, 100%, 7.5%);

    --clr-white:#fff;
    --clr-black:#222;
    --clr--lightblack: #4A5568;
    --clr--box-shadow: 0 2px 8px #4A5568;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.titletop{
    background: var(--clr-primary-1);
    padding: 5rem 8rem;
    padding-top: 7rem;
    h1{
        font-size: 3rem;
        margin-bottom: 10px;
    }
    p{
        font-size: 1.5rem;
        color:var(--clr--lightblack);
        max-width: 880px;
    }
}
.center{
    background: var(--clr-primary-4);
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 3rem 8rem;
    .left{
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        .position{
            display: flex;
            flex-direction: column;
            background: var(--clr-primary-2);
            max-width: 350px;
            padding: 1rem 2rem;
            border-radius: 8px;
            box-shadow: var(--clr--box-shadow);
            .img-container{
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            img{
                margin-top: 10px;
                width: 90%;
            }
            .bg{
                display: flex;
                flex-direction: row;
                gap: 10px;
                
                .icon{
                    i{
                        font-size: 1.2rem;
                        padding-top: 5px;
                    }
                }
                .content{
                    h2{
                        font-size: 1.5rem;
                        margin-bottom: 5px;
                    }
                    p{
                        color: var(--clr--lightblack);
                        font-size: 1.2rem;
                        white-space: pre-line;
                    }
                }
            }
        }
    }
    .right{
        h1{
            margin-bottom: 10px;
        }
        background: var(--clr-primary-2);
        border-radius: 8px;
        height: 600px;
        padding: 1rem 2rem;
        input,textarea{
            display: block;
            background-color: var(--clr-white);
            color: var(--clr--lightblack);
        }
        button,input{
            border: none;
            width: 100%;
            border-radius: 8px;
            padding: 10px 0;    
        }
        input{
            padding: 10px;
            margin-bottom: 10px;
            margin-top: 5px;
        }
        textarea{
            resize: none; 
            margin-top: 5px;
            border: none;
            width: 100%;
            height: 200px;
            border-radius: 8px;
            padding: 5px;
        }
        button{
            margin-top: 30px;
            background-color:  var(--clr-primary-5);
        }
    }
}
@media (min-width: 1201px) and (max-width: 1430px) {
    .center{
        padding: 3rem 6.5em;
    }
}
@media (min-width: 1101px) and (max-width: 1200px) {
    .titletop{
        padding: 2rem 5rem;
        padding-top: 5rem;
        h1{
            font-size: 3rem;
        }
        p{
            font-size: 1.5rem;
            max-width: 900px;
        }
    }
    .center{
        padding: 3rem 5.5rem;
    }
}
@media (min-width: 901px) and (max-width: 1100px) {
    .titletop{
        padding: 2rem 5rem;
        padding-top: 5rem;
        h1{
            font-size: 3rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
    .center{
        padding: 3rem 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 890px) and (max-width: 900px) {
    .titletop{
        padding: 2rem 3rem;
        padding-top: 4.5rem;
        h1{
            font-size: 3rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
    .center{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        .left{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 5.5rem);
        }
        .left > *:nth-child(1) {
            grid-column: 1 / span 2; 
            grid-row: 1;             
        }
        .left > *:nth-child(2) {
            grid-column: 3 / span 2;
            grid-row: 1;             
        }
        .left > *:nth-child(3) {
            grid-column: 1 / span 2; 
            grid-row: 2 / span 3;    
        }
        .left > *:nth-child(4) {
            grid-column: 3 / span 2; 
            grid-row: 2 / span 2;             
        }
    }
    .right {
        margin-top: 1.25rem;
    }
}
@media (min-width: 870px) and (max-width: 889px) {
    .titletop{
        padding: 2rem 3rem;
        padding-top: 1rem;
    }
}
@media (min-width: 601px) and (max-width: 869px) {
    .titletop{
        padding: 2rem 5rem;
        padding-top: 1.2rem;
        h1{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.1rem;
        }
    }
    .center{
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    .left{
        display: flex;
        flex-direction: column;
        }
    }
    .right {
        margin-top: 1.25rem;
        width: 80vw;
    }
}
@media (max-width: 600px) {
    .titletop{
        padding: 2rem 3rem;
        padding-top: 1.2rem;
        h1{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.1rem;  
        }
    }
    .center{
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .left{
            display: flex;
            flex-direction: column;
        }
    }
    .right {
        margin-top: 1.25rem;
        width: 80vw; 
    }
}