:root{
    --clr-primary-1: #e5f0ff;
    --clr-primary-2: #cce0ff;
    --clr-primary-3: #99c2ff;
    --clr-primary-4: #66a3ff;
    --clr-primary-5: #3385ff;
    --clr-primary-6: #0066ff;
    --clr-primary-7: #0052cc;
    --clr-primary-8: #003d99;
    --clr-primary-9: #002966;
    --clr-primary-10: #001433;
    --clr-primary-11: #000e24;

    --clr-grey-1: hsla(216, 100%, 95%);
    --clr-grey-2: hsla(216, 100%, 90%);
    --clr-grey-3: hsla(216, 100%, 80%);
    --clr-grey-4: hsla(216, 100%, 70%);
    --clr-grey-5: hsla(216, 100%, 60%); 
    --clr-grey-6: hsla(216, 100%, 50%);
    --clr-grey-7: hsla(216, 100%, 40%);
    --clr-grey-8: hsla(216, 100%, 30%);
    --clr-grey-9: hsla(216, 100%, 20%);
    --clr-grey-10: hsla(216, 100%, 10%);
    --clr-grey-11: hsla(216, 100%, 7.5%);

    --clr-white:#fff;
    --clr-black:#222;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
.coursetop{
    background:var(--clr-primary-1);
    color: var(--clr-black);
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 4.9rem 8rem;
    height: 600px;
    .courseleft{
        .iconps{
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
        p{
            /* margin-bottom: 350px; */
            font-size: 1.1rem;
            margin-bottom: 100px;
            line-height: 2;
            max-width: 900px;
        }
        h1{
            font-size: 2.5rem;
        }
        h3{
            font-size: 1.5rem;
        }
        .iconps{
            i{
                margin-right: 3px;
            }
        }
    }
    
    .courseright{
        background-color:var(--clr-white);
        border-radius: 8px;
        padding: 1rem 5rem;
        h1{
            font-size: 2rem;
            color: var(--clr-primary-4);
        }
        .btn{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            gap: 20px;
            i{
                margin-right: 10px;
            }
            a{
                text-decoration: none;
                color: var(--clr-black);
                background: var(--clr-primary-1);
                border-radius: 8px;
            }
            .btn1{
                padding: 1rem 0rem;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
            .btn2{
                padding: 1rem 0rem;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            margin-bottom: 70px;
            
        }
        .coursefooter{
            border-top: 2px black solid;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }
}
.detail{
    background: var(--clr-primary-2);
    padding: 4rem 8rem;
    .requirement{
        margin-bottom: 20px;
        h2{
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: 5px;
            li{
                i{
                    margin-right: 3px;
                }
            }
        }
    }
    .teacher2{
        margin-bottom: 20px;
        h2{
            font-size: 1.5rem;
            margin-bottom: 20px;
        }
        .teatail{
            padding: 10px 20px;
            background: var(--clr-primary-3);
            box-shadow: 0 2px 8px #4A5568;
            max-width: 900px;
            border-radius: 8px;
            h3{
                font-size: 1.3rem;
                margin-bottom: 3px;
            }
            h4{
                font-size: 1.1rem;
                margin-bottom: 5px;
            }
        }
    }
    .studentdetail{
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        h2{
            font-size: 1.5rem;
            margin-bottom: 10px;

        }
        .studetail{
            padding: 10px 20px;
            background: var(--clr-primary-3);
            box-shadow: 0 2px 8px #4A5568;
            max-width: 900px;
            border-radius: 8px;
            .top{
                display: flex;
                justify-content: space-between;
                margin-bottom: 2px;
            }
            p{
                margin-bottom: 5px;
            }
            h4{
                font-size: 1.3rem;
            }
            h5{
                font-size: 1rem;
            }
        }
    }
    .courselink{
        display: flex;
        flex-direction: row;
        gap: 10px;
        a,i{
            font-size: 1.2rem;
        }
        .download{
            a,i{
                cursor: pointer;
                &:hover{
                    color: var(--clr-primary-3);
                }   
            }
            a{
                margin-right: 3px;
            }
        }
    }
}

