:root{
    --clr-primary-1: #e5f0ff;
    --clr-primary-2: #cce0ff;
    --clr-primary-3: #99c2ff;
    --clr-primary-4: #66a3ff;
    --clr-primary-5: #3385ff;
    --clr-primary-6: #0066ff;
    --clr-primary-7: #0052cc;
    --clr-primary-8: #003d99;
    --clr-primary-9: #002966;
    --clr-primary-10: #001433;
    --clr-primary-11: #000e24;

    --clr-grey-1: hsla(216, 100%, 95%);
    --clr-grey-2: hsla(216, 100%, 90%);
    --clr-grey-3: hsla(216, 100%, 80%);
    --clr-grey-4: hsla(216, 100%, 70%);
    --clr-grey-5: hsla(216, 100%, 60%); 
    --clr-grey-6: hsla(216, 100%, 50%);
    --clr-grey-7: hsla(216, 100%, 40%);
    --clr-grey-8: hsla(216, 100%, 30%);
    --clr-grey-9: hsla(216, 100%, 20%);
    --clr-grey-10: hsla(216, 100%, 10%);
    --clr-grey-11: hsla(216, 100%, 7.5%);

    --clr-white:#fff;
    --clr-black:#222;
    --clr--lightblack: #4A5568;
    --clr--box-shadow: 0 2px 8px #4A5568;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.footer{
    padding: 5rem 8rem;
    background: var(--clr-primary-5);
    color: var(--clr-white);
    a{
        cursor: pointer;
        text-decoration: none;
        color: var(--clr-primary-1);
        &:hover{
            color: var(--clr-primary-7);
        }
    }
    ul{
        list-style: none;
    }
    .top{
        display: grid;
        grid-template-columns: 3fr 2fr 2fr;
        justify-content: center;
        gap: 100px;
        img{
            max-width: 100px;
            color: var(--clr-white);
            margin-bottom: 10px;
        }
        .bg{
            ul{
                color: var(--clr-primary-1);
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
            h2{
                margin-bottom: 10px;
                font-size: 1.5rem;
            }
            p{
                margin-bottom: 10px;
                color: var(--clr-primary-1);
                max-width: 400px;
            }
            .socialmedia{
                display: flex;
                flex-direction: row;
                gap: 20px;
                li{
                    font-size: 1.5rem;
                }
            }
            .contacticon{
                i{
                    margin-right: 5px;
                }
            }
        }
    
    }
    .bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        h2{
            font-size: 2rem;
        }
    }
}

@media (max-width:1170px) and (min-width:889px){
    .footer{
        padding: 5rem 4rem;
        .top{
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            justify-content: center;
        }
    }
}
@media (max-width: 888px){
    .footer{
        padding: 5rem 4.5rem;
        .top{
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
}