* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #b1a87e, #67c5ce);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 2rem;
  width: 360px;
  color: #fff;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* Logo */
.logo {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.logo-icon {
  font-size: 1.8rem;
}

.line-simple-2 {
      display: block;
      position: relative;
      align-items: center;
      font-weight: 600;
      margin: 20px 0;
      color: #666;

    }

    .line-simple-2::before, 
    .line-simple-2::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 20px;
      height: 1px;
      background: #ddd;
    }

    .line-simple-2::before {
      left: -23px;
    }

    .line-simple-2::after {
      right: -23px;
    }


.form-title {
  color: #0d6efd;
  font-weight: 600;
  margin-bottom: 1rem;
}

.login-method {
   display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: -10px; 
  margin-bottom: 1rem; 
}

/* Input Group */
.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.input-group-text {
  background: #f8f9fa;
  border: none;
  color: #555;
  padding: 0.5rem;
}
.form-control {
  flex: 1;
  min-width: 0;
  border: none;
  padding: 0.5rem;
  background: transparent;
  color: #fff;
  font-size: 0.95rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-control.is-invalid {
  border: 2px solid red;
}

.form-control:focus {
  outline: none;
}

/*input box is red + exclamation mark */
.form-control.is-invalid .error-mark {
   display: inline;
   color: red;
   font-weight: bold;
}

.form-control.is-valid:not(:placeholder-shown) {
  border-color: #20c997;
  box-shadow: 0 0 0 0.25rem rgba(32, 201, 151, 0.25);
}


.form-control.is-valid {
  border:  2px solid green;
}

.error-mark {
  display: none !important;
}


.error {
  font-size: 0.8rem;
  color: #dc3545;
  margin-bottom: 1rem;
}

/* Button */
.glass-card .btn-send {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #0d6efd, #0b5ed7);
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  margin-bottom: 1.5rem;
}
.glass-card .btn-send:hover {
  box-shadow: 0 5px 15px rgba(13,110,253,0.3);
  transform: scale(1.2);
}

.back-link {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.85rem;
}

.back-link a {
  color: #aeefff;
  text-decoration: none;
}
.back-link a:hover {
  text-decoration: underline;
}
